*{
    font-family: 'Acme', sans-serif;;
}

html,body{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
    font-size: 62.5%;
}

header{
    font-size: 2.0rem;
    background-color: #992a0c;
    
    text-align: center;
    border: 1px solid black;
}

a{
   text-decoration: none; 
}

#home{
    font-size: 2rem;
    
    color: black;
}

#videos{
    font-size: 2rem;
    
    margin-left: 26rem;
}